@model ChristmasGiftApp.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <h2>Christmas Gift Application</h2>
</div>
<form asp-controller="Home" asp-action="Draw" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"/>
        <span asp-validation-for="EmailAddress"></span>        
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>